<ul class="app-main_nav">
    <li><a href="#" title="ladder boards"><i class="fi flaticon-medal"></i> ladder boards</a></li>
    <li><a href="#" title="direct match"><i class="fi flaticon-fingerprint"></i> direct match</a></li>
    <li><a href="#" title="elo matchmaking"><i class="fi flaticon-cross"></i> elo matchmaking</a></li>
    <li><a href="#" title="games"><i class="fi flaticon-pad"></i> games</a></li>
    <li><a href="#" title="redeem"><i class="fi flaticon-redeem"></i> redeem</a></li>
</ul>