<footer>
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<h4>Site navigations</h4>
				<ul>
					<li><a href="#" title="ladder boards">Ladder boards</a></li>
					<li><a href="#" title="Direct match">Direct match</a></li>
					<li><a href="#" title="Elo Match making">Elo Match making</a></li>
					<li><a href="#" title="Games list">Games list</a></li>
					<li><a href="#" title="Buy gold">Buy gold</a></li>
					<li><a href="#" title="Redeem gold">Redeem gold</a></li>
					<li><a href="#" title="Contact us">Contact us</a></li>
					<li><a href="#" title="Privacy policy">Privacy policy</a></li>
					<li><a href="#" title="Jobs">Jobs</a></li>
					<li><a href="#" title="Online shop">Online shop</a></li>
					<li><a href="#" title="News">News</a></li>
					<li><a href="#" title="Guides">Guides</a></li>
				</ul>
			</div>
			<div class="col-sm-3">
				<h4>About us</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In id nunc et neque pharetra accumsan. Nam ut cursus massa. Ut placerat sem tellus, ut convallis mi accumsan eu.</p>
			</div>
			<div class="col-sm-3">
				<h4>Partners</h4>
			</div>
		</div>
	</div>
</footer>